# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
helper.txt
Old versions/
Prophet Kacou.pkg
Prophet Kacou-local.pkg
src-tauri/profiles/
Prophet_Kacou_Developper_Id.plist
Prophet_Kacou_Mac_App_Store_Connect.plist
Keys/apple
src-tauri/Entitlements-appstore.plist
src-tauri/Entitlements-local.plist
src-tauri/Entitlements.plist
src-tauri/tauri.offlineappstore.conf.json
src-tauri/tauri.onlineappstore.conf.json
artifacts
screenshots
artifacts-arm64
artifacts-x86_64
windows-versions/